/*
 * Header
 */
.blog-header {
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}
html, body {
  overflow-x: hidden; /* 隐藏水平滚动条 */
}


.colorful-text {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*
 * Body
 */
.card-title-margin {
    margin-bottom: 0.7em;
}

a {
    color: cornflowerblue;
}

.body-hr {
    margin-top: -1em;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid cornflowerblue;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

#carousel__container {
    position: relative;
    display: flex;
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 1px solid red;
  }
  
  .img__container {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  .img__container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .btn {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: 5px 7px;
    cursor: pointer;
  }
  #prev-btn {
    left: 10px;
  }
  #next-btn {
    right: 10px;
  }

  